
body{
    background: linear-gradient(334deg, rgb(212, 124, 236), rgb(169, 216, 239), rgb(107, 111, 220));
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;  
}


input, textarea{
    font-family:Arial, Helvetica, sans-serif;
    width: 100%;
    max-width: 800px;
    margin-bottom: 10px;
    box-shadow: 0 2px 3px black;
    border: none;
    padding: 10px 4px;
    border-radius: 3px;
    margin-inline-start: 190px;
    letter-spacing: 0.5px;
}

button{
    background-color: rgb(87, 187, 237);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: medium;
    margin-top: 15px;
    margin-inline-start: 580px;
}

button:hover{
    color: aliceblue;
    background-color: rgb(18, 168, 237);
}

.button_new{
    background-color: rgb(236, 207, 99);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: medium;
    margin-top: 0px;   
    margin-inline-start: 0px;
    border-radius: 3px;
}

.button_new:hover{
    color: aliceblue;
    background-color: rgb(214, 168, 148);
}
