{% macro card2() -%}

<div class="card" style="width: 100%; margin-top: 40px;">
    <div class="card-body">
      <h5 class="card-title">Tips for Portfolio</h5>
      <p class="card-text">The best design portfolios are able to inform viewers of your work and spark inspiration in those who are looking for it. If you didn't already know, a good portfolio is incredibly important in the wonderful world of art and design, because it gives clients a look into your work and can be the difference between hiring you or not. </p>
      <a href="https://www.pinterest.de/khartz/portfolio-samples/" class="card-link">Card link</a>
      <a href="https://webflow.com/blog/design-portfolio-examples" class="card-link">Another link</a>
    </div>
  </div>

{%- endmacro %}