{% macro card3() -%}

<div class="card bg-dark text-white" style="margin-top: 90px; padding: 0px; margin-left: 0px; padding-left: 0px;">
    <img src="static\\4.jpg" class="card-img" alt="..." style= "width: 20%; height: 10%; margin-top: 0px; padding: 0px;" >
    <div class="card-img-overlay">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      <p class="card-text">Last updated 3 mins ago</p>
    </div>
  </div>

{%- endmacro %}