{% macro card2() -%}

<div class="card" style="width: 100%; margin-top: 40px;">
    <div class="card-body">
      <h5 class="card-title">My works</h5>
      <p class="card-text"> Here I presented only my top projects as a sample. But I am like to share my Github repository, so that if you like to see my works, you can visit the link given below and also I am sharing the contact link , so that If you like to contact me , you can contact here.</p>
      <a href="https://github.com/RitthujaKandasamy" class="card-link">Git link</a>
      <a href="/contact" class="card-link">Contact link</a>
    </div>
  </div>

{%- endmacro %}