div{
    background: linear-gradient(334deg, rgb(107, 215, 221), rgb(88, 161, 185), rgb(146, 79, 222));
    background-attachment: fixed;   
}

body{
    background-image: url('/static/images/background.jpg');
    background-size: cover;  
}




