div{
    background: linear-gradient(334deg, rgb(207, 230, 138), rgb(143, 202, 214), rgb(133, 233, 190));
    background-attachment: fixed;   
}

body{
    background-image: url('/static/images/e.jpg');
    background-size: cover;  
}


/* div{
    background-color: bisque;
} */