{% macro card1() -%}


<div class="mb-3" style="max-width: 840px; margin-top: 50px; display: flex; text-align: center; justify-content: center; margin-left: 280px;">
    <div class="row">
      <div class="col">
        <img src="static\\images\\7.png" class="img-fluid rounded-start">
      </div>
      <div class="col">
        <div class="body">
          <h5 class="title">Card title</h5>
          <p class="text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          <a href="#" class="btn btn-primary">Button</a>
        </div>
      </div>
    </div>
  </div>

  <div class="mb-3" style="max-width: 840px; margin-top: 50px; display: flex; text-align: center; justify-content: center; margin-left: 280px;">
    <div class="row">
      <div class="col">
        <img src="static\\images\\7.png" class="img-fluid rounded-start">
      </div>
      <div class="col">
        <div class="body">
          <h5 class="title">Card title</h5>
          <p class="text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          <a href="#" class="btn btn-primary">Button</a>
        </div>
      </div>
    </div>
  </div>

  <div class="mb-3" style="max-width: 840px; margin-top: 50px; display: flex; text-align: center; justify-content: center; margin-left: 280px;">
    <div class="row">
      <div class="col">
        <img src="static\\images\\7.png" class="img-fluid rounded-start">
      </div>
      <div class="col">
        <div class="body">
          <h5 class="title">Card title</h5>
          <p class="text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          <a href="#" class="btn btn-primary">Button</a>
        </div>
      </div>
    </div>
  </div>

  <div class="mb-3" style="max-width: 840px; margin-top: 50px; display: flex; text-align: center; justify-content: center; margin-left: 280px;">
    <div class="row">
      <div class="col">
        <img src="static\\images\\7.png" class="img-fluid rounded-start">
      </div>
      <div class="col">
        <div class="body">
          <h5 class="title">Card title</h5>
          <p class="text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          <a href="#" class="btn btn-primary">Button</a>
        </div>
      </div>
    </div>
  </div>

  {%- endmacro %}