{% macro card1() -%}


<!-- Content section 1-->
<section id="scroll">
  <div class="container px-5">
      <div class="row gx-5 align-items-center">
          <div class="col-lg-6 order-lg-2">
              <div class="p-5"><img class="img-fluid rounded-circle" src="static\\images\\asl.jpg" style="width: 1200px; height: 500px;"/></div>
          </div>
          <div class="col-lg-6 order-lg-1">
              <div class="p-5">
                  <h1 class="title">World Sign Language</h1>
                  <p>The most popular sign language people in the world using!</p>
                  <a href="/about" class="btn btn-primary btn-xl rounded-pill mt-5" style="box-shadow: 0 2px 3px black ;">Learn More</a>
              </div>
          </div>
      </div>
  </div>
</section>
<!-- Content section 2-->
<section>
  <div class="container px-5">
      <div class="row gx-5 align-items-center">
          <div class="col-lg-6">
              <div class="p-5"><img class="img-fluid rounded-circle" src="static\\images\\pro.jpg" style="width: 1200px; height: 500px;"/></div>
          </div>
          <div class="col-lg-6">
              <div class="p-5">
                  <h1 class="title">Project</h1>
                  <p>Break out your fear, Make your new friends with our project!</p>
                  <a href="/pro"  class="btn btn-primary btn-xl rounded-pill mt-5" style="box-shadow: 0 2px 3px black ;">Learn More</a>
              </div>
          </div>
      </div>
  </div>
</section>
<!-- Content section 3-->
<section>
  <div class="container px-5">
      <div class="row gx-5 align-items-center">
          <div class="col-lg-6 order-lg-2">
              <div class="p-5"><img class="img-fluid rounded-circle" src="static\\images\\contact.jpg" style="width: 1200px; height: 500px;" /></div>
          </div>
          <div class="col-lg-6 order-lg-1">
              <div class="p-5">
                  <h1 class="title">Contact info</h1>
                  <p>To get more information about this topic contact me here!</p>
                  <a href="/info" class="btn btn-primary btn-xl rounded-pill mt-5"  style="box-shadow: 0 2px 3px black ;">Learn More</a>
              </div>
          </div>
      </div>
  </div>
</section>


  {%- endmacro %}