{% macro card1() -%}


<!-- Content section 1-->
<section id="scroll">
  <div class="container px-5">
      <div class="row gx-5 align-items-center">
          <div class="col-lg-6 order-lg-2">
              <div class="p-5"><img class="img-fluid rounded-circle" src="static\\images\\asl.jpg" style="width: 1200px; height: 500px;"/></div>
          </div>
          <div class="col-lg-6 order-lg-1">
              <div class="p-5">
                  <h1 class="title">American Sign Language</h1>
                  <p align="justify">There are more than 300 sign languages in the world. From Japan to Germany, from Russia to Australia, people speak different languages. 
                    So, it's only natural for people to have different sign languages as well. Of all these sign languages, we ended up choosing the American Sign language. Find out the reason why.</p>
                  <a href="/about" class="btn btn-xl rounded-pill mt-2">Find out here</a>
              </div>
          </div>
      </div>
  </div>
</section>
<!-- Content section 2-->
<section>
  <div class="container px-5">
      <div class="row gx-5 align-items-center">
          <div class="col-lg-6">
              <div class="p-5"><img class="img-fluid rounded-circle" src="static\\images\\pro.jpg" style="width: 1200px; height: 500px;"/></div>
          </div>
          <div class="col-lg-6">
              <div class="p-5">
                  <h1 class="title">What can Signa do for you?</h1>
                  <p align="justify">Want to make friends with those who can only use sign language? Or are you a sign language user who wants to make friends with those who speak English? 
                    Either way, Signa can be a great companion who can help you reach your goal faster. After all, everyone deserves to make friends despite the abilities they are born with. 
                    And Signa is your key to doing that. Click the button below and we will show you what Signa can do.</p>
                  <a href="/pro"  class="btn btn-xl rounded-pill mt-2">Onwards, To Signa</a>
              </div>
          </div>
      </div>
  </div>
</section>
<!-- Content section 3-->
<section>
  <div class="container px-5">
      <div class="row gx-5 align-items-center">
          <div class="col-lg-6 order-lg-2">
              <div class="p-5"><img class="img-fluid rounded-circle" src="static\\images\\contact_us.png" style="width: 1200px; height: 500px;" /></div>
          </div>
          <div class="col-lg-6 order-lg-1">
              <div class="p-5">
                  <h1 class="title">Contact</h1>
                  <p  align="justify">This is where you can get in touch with the brain behind Signa. Suggestions for improvement, Feedback, or just a friendly chat - This is how you can reach me.</p>
                  <a href="/info" class="btn btn-xl rounded-pill mt-2">Contact me</a>
              </div>
          </div>
      </div>
  </div>
</section>


  {%- endmacro %}