{% macro card1() -%}

<div class="card bg-dark text-white">
    <img src="static\\image\\b.jpg" class="card-img">
    <div class="card-img-overlay" style="font-size: 25px; margin-left: 700px; font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; letter-spacing: 0.5px; margin-top: 100px;">
      <h5 class="card-title" ></h5>
      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      <p class="card-text">Last updated 3 mins ago</p>
    </div>
  </div>

  {%- endmacro %}