{% macro navbar() -%}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" >
      <img src="static\\image\\photo.png" width="50" height="54" class="d-inline-block align-text-top"></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent" style="font-size: 25px; margin-left: 100px; font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; letter-spacing: 0.5px;">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link hover" aria-current="page" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link hover" href="/membership">Membership</a>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Categories
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="#">All</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="#">Animation</a></li>
                <li><a class="dropdown-item" href="#">Branding</a></li>
                <li><a class="dropdown-item" href="#">Mobile</a></li>
                <li><a class="dropdown-item" href="#">Product Design</a></li>
                <li><a class="dropdown-item" href="#">Web Design</a></li>
              </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="#">Contact</a>
        </li>
      </ul>
      <div class="d-grid gap-2 d-md-flex justify-content-md-end">
        <button class="button_new" type="button">Sign in</button>
        <button class="button_new" type="button">Share my work</button>
        
      </div>
    </div>
  </div>
</nav>

{%- endmacro %}

