<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" 
    rel="stylesheet" 
    integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" 
    crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles2.css') }}">
    
  </head>
  <body>


  <a class="btn btn-primary" href="/">BACK</a>


  <!-- project section start -->

  <section>
      <div class="container">
          <div class="content">
            <h1>What can Signa do for you?</h1>
            <p align="justify">Signa can help break your boundaries, broaden your horizon, and make friends. Now you can talk with people just by using ASL. All you have to do is, click on the <span style="color: red">'Start Talking'</span> button below. 
              It will open your webcam in a small window. Once your webcam has started, start talking to your friend in sign langage. Our app will start translating your actions into words, which will 
              be displayed below the webcam window. At the same time, the translated text will also be spoken out using AI voices so that your friend can easily understand you. 
            </p>
            <a href="/info"  class="btn btn-xl rounded-pill mt-5">Start Talking</a>
          </div>
      </div>
  </section>

  <!-- project section end -->


<!-- Bootstrap Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" 
integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" 
crossorigin="anonymous"></script>


</body>
</html>